<div>
  <h4 class="mt-5 p-relative">
    Let's quickly verify your identity
  </h4>
  <div class="p-relative" style="font-size: 20px;">
    <i class="fa fa-long-arrow-right p-absolute" aria-hidden="true" style="left: -42px;font-size: 2rem;"></i>
    Enter your AADHAAR Number
  </div>
  <div class="mt-3 mb-4">
    <input type="text" class="main-input">
  </div>
  <button class="btn action-confirm-btn">Authenticate</button>
  <p class="mt-3" style="color: #b0adad;font-size: 13px;">
    <b style="color: #615f5a;">Aadhaar</b> Card gives you easy access to numerous <b style="color: #615f5a;">loans</b> and other financial services. <br>
    The loan applicants are asked to provide Know Your Customer (KYC) documents and <br> <b style="color: #615f5a;">Aadhaar</b> Card is a solid proof
    of your citizenship and identity.
  </p>
</div>