<div class="stepper-con mt-4">
    <div class="stepper-horizontal" id="stepper1">
      <div class="step editing" *ngFor="let step of stepperArray;index as i">
        <div class="step-circle"></div>
        <div class="stage-btn-click">
          <div class="step-title">{{i+1}}</div>
          <div class="step-optional">{{step.step_name}}</div>
        </div>
        <div class="step-bar-left"></div>
        <div class="step-bar-right"></div>
      </div>
    </div>
  
  </div>
  <div class="img-con" style="width: 31vw;margin: 0 auto;">
      <img class="img-fluid" src="./../../../../../assets/images/screen1.png" alt="">
  </div>