/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
@import "./utility-classes-styles.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

@font-face {
    font-family: Header_font;
    src: url("../src/assets/fonts/Merriweather/Merriweather-Black.ttf");
  }
  
  @font-face {
    font-family: regular_font;
    src: url("../src/assets/fonts/Libre_Franklin/LibreFranklin-Medium.ttf");
  }

  @font-face {
      font-family: semi_bold;
      src: url("../src/assets/fonts/Libre_Franklin/LibreFranklin-Bold.ttf");
  }
  

 body {
     background-color: $page-grey-bg;
     font-family: $regular-font;

     h1,h2,h3,h4 {
        font-family: $header-font;
        color: $font-color2;
     }

     #calculate_funding_req_btn {
         cursor: pointer;
         text-decoration: underline;
     }

     .funding-options-con {
        button.btn {
            border: 1px solid $shade-grey;
            border-radius: 14px;
            margin: 10px 10px 5px 0;
            color: $primary-font-color;
        }
     }

    //  p-dialog styles
    p-dialog {
        font-family: $semi-bold-font;
        .p-dialog-title {
            @extend .header-text;
        }
    }
 }

 
 
