// Variables List
$page-grey-bg: #f3ede2!important;
$primary-green: #3f976c;
$shade-green: #327956;
$primary-grey: #b0adad;
$shade-grey: #615a5a;
$primary-font-color: #393131;
$font-color1: #2e2727;
$font-color2: #171414;

$header-font: 'Header_font', sans-serif!important;
$regular-font: 'regular_font', sans-serif!important;
