<div class="container-fluid">
    <div class="header-row row">
      
    </div>
  </div>
  
  <div class="container">
    <div class="body-row row">
      <div class="col-12 col-md-6">
        <div>
          <h4 class="mt-5">Let's get to know your financing needs</h4>
          <a id="calculate_funding_req_btn">Calculate your funding needs</a>
        </div>
        <div class="funding-options-con mt-3">
          <button type="button" class="btn ">Holiday Loan</button>
          <button type="button" class="btn">Vacation Loan</button>
          <button type="button" class="btn">Home Repairs</button>
          <button type="button" class="btn">Lifestyle product purchases</button>
          <button type="button" class="btn">Big Purchase</button>
          <button type="button" class="btn">Wedding</button>
          <button type="button" class="btn">Business expansion</button>
          <button type="button" class="btn">Cash against existing owned property</button>
          <button type="button" class="btn">New Home purchase</button>
          <button type="button" class="btn">Auto / Motor purchase</button>
          <button type="button" class="btn">New Home purchase</button>
          <button type="button" class="btn">SPecial Occasion need</button>
          <button type="button" class="btn">Education Loan</button>
          <button type="button" class="btn">Dept Consolidation</button>
        </div>
      </div>
      <div class="col-12 col-md-6">
  
      </div>
    </div>
  </div>