
<div class="container">
    <div class="header-row row p-2">
        <div class="img-con" style="width: 100px;">
          <img src="./../../../../../assets/images/logo.png" alt="" style="width: 100%;">
        </div>
    </div>
</div>
<hr class="m-0">
<div class="container">
    <div class="body-row row">
        <div class="col-12 col-md-6">
          <div>
            <h4 class="mt-5 p-relative">
              <i class="fa fa-long-arrow-right p-absolute" aria-hidden="true" style="left: -42px;font-size: 2rem;"></i>
              Let's get to know your financing needs
            </h4>
            <a id="calculate_funding_req_btn" (click)="showModalDialog()">Calculate your funding needs</a>
          </div>
          <div class="funding-options-con mt-3">
            <button type="button" class="btn" *ngFor="let loan of loan_options"  pTooltip="Short term unsecured personal loan"  tooltipPosition="top"  [ngClass]="{'active': loan.isClicked}" (click)="selectLoan(loan)">{{ loan.text }}</button>
          </div>
          <div class="mt-4 text-end">
            <button *ngIf="showNextBtn" class="btn action-confirm-btn" [routerLink]="['/user-authentication']">Next</button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="stepper-con mt-4">
            <div class="stepper-horizontal" id="stepper1">
              <div class="step editing">
                <div class="step-circle"></div>
                <div class="stage-btn-click">
                  <div class="step-title">1</div>
                  <div class="step-optional">Specify Your Needs</div>
                </div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle"></div>
                <div class="stage-btn-click">
                  <div class="step-title">2</div>
                  <div class="step-optional">User Authentication</div>
                </div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle"></div>
                <div class="stage-btn-click">
                  <div class="step-title">3</div>
                  <div class="step-optional">Loan Offers</div>
                </div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
              <div class="step">
                <div class="step-circle"></div>
                <div class="stage-btn-click">
                  <div class="step-title">4</div>
                  <div class="step-optional">Loan Approval</div>
                </div>
                <div class="step-bar-left"></div>
                <div class="step-bar-right"></div>
              </div>
            </div>
          
          </div>
          <div class="img-con" style="width: 31vw;margin: 0 auto;">
              <img class="img-fluid" src="./../../../../../assets/images/screen1.png" alt="">
          </div>
        </div>
    </div>
</div>

  <p-dialog header="Calculate your funding needs" [(visible)]="displayModal" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [modal]="true" [style]="{width: '60vw'}"
    [draggable]="false" [resizable]="false">
    <div class="row slider-con">
      <div class="col-12 col-md-4 slider-area mb-3 mb-md-0">
        <div class="d-flex justify-content-between align-items-center header-txt mb-2"> 
          <span>Amount you need:</span> 
          <div class="value-con">
            <span class="value-label" style="top: 4px;left: 5px;">INR</span>
            <input type="text" class="slider-value" [(ngModel)]="amt_need" floatingValue style="padding-left: 40px;">
          </div> 
        </div>
        <p-slider [min]="10000" [max]="10000000" [(ngModel)]="amt_need"></p-slider>
      </div>
      <div class="col-12 col-md-4 slider-area mb-3 mb-md-0">
        <div class="d-flex justify-content-between align-items-center header-txt mb-2">
          <span>Tenure:</span> 
          <div class="value-con" style="width: 26%;">
            <input type="text" class="slider-value" numbersOnly [(ngModel)]="tenure" style="padding-right: 30px;">
            <span class="value-label" style="top: 4px;right: 5px;">Mo</span>
          </div> 
        </div>
        <p-slider [min]="12" [max]="120" [(ngModel)]="tenure"></p-slider>
      </div>
      <div class="col-12 col-md-4 slider-area mb-3 mb-md-0">
        <div class="d-flex justify-content-between align-items-center header-txt mb-2">
          <span>Interest Rate:</span> 
          <div class="value-con" style="width: 20%;">
            <input type="text" class="slider-value" [(ngModel)]="interest_rate" floatingValue style="padding-right: 20px;">
            <span class="value-label" style="top: 4px;right: 5px;">%</span>
          </div>
        </div>
        <p-slider [min]="1" [max]="20" [(ngModel)]="interest_rate"></p-slider>
      </div>
    </div>
    <div class="row">
      <div class="col text-end mt-4 mb-4">
        <button class="btn action-confirm-btn" (click)="calculate_emi()">Calculate</button>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-md-2 d-flex flex-column">
        <div class="value-label">Loan EMI</div>
        <div><b>INR {{monthly_emi}}</b></div>
      </div>
      <div class="col-4 col-md-3 d-flex flex-column">
        <div class="value-label">Total Interest Payable</div>
        <div><b>INR 11,07,979</b></div>
      </div>
      <div class="col-4 col-md-4 d-flex flex-column">
        <div class="value-label">Total Payment (Principal + Interest)</div>
        <div><b>INR 36,07,979</b></div>
      </div>
    </div>
</p-dialog>

