@import "./../../../../../utility-classes-styles.scss";

.slider-con {
    .header-txt {
        font-size: 1rem;
        color: #2e2727;
        font-family: $header-font;
    }

    ::ng-deep .p-slider.p-slider-horizontal {
        height: 7px;
    }

    .value-con {
        max-width: 45%;
        position: relative;

        .value-label {
            color: #3f976c;
            position: absolute;
        }
    }
    .slider-value {
        display: flex;
        padding: 2px 5px;
        border: 1px solid#3f976c;
        border-radius: 7px;
        color: #3f976c;
        outline: none;
        width: 100%;
    }

    ::ng-deep .p-slider {
        background: #fae1b1;
        .p-slider-handle {
            border: 2px solid #3f976c;
            &:hover {
                background: #3f976c;
            }
            &:focus {
                box-shadow: none;
            }
        }
        .p-slider-range {
            background: #3f976c;
            border-radius: 7px;
        }
    }
}

.value-label {
    color: $primary-grey;
    font-size: 1rem;
}

.funding-options-con {
    button.active {
        background-color: $primary-green;
        color: #fff;
    }

    button:hover {
        background-color: $primary-green;
        color: #fff;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


